{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %}

{% block title_page %}EStore | Giỏ hàng{% endblock %}
{% block main_content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    {% if request.session.cart|length < 1 %}
                        <div>Không có sản phẩm trong giỏ hàng</div>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for c in cart %}
                                        {% with product=c.product %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td> <!--counter0 bắt đầu từ 0-->
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{ product.image.url }}" alt="Image"></a>
                                                    <p>{{ product }}</p>
                                                </div>
                                            </td>
                                            <td>{{ c.price|floatformat:0|intcomma }}</td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus" id="btn-minus-{{product.pk}}"><i class="fa fa-minus"></i></button>
                                                    <input type="text" id="quantity{{product.pk}}" name="quantity{{product.pk}}" value="{{ c.quantity }}">
                                                    <button class="btn-plus" id="btn-plus-{{product.pk}}"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td>{{ c.total_price|floatformat:0|intcomma }}</td>
                                            <td>
                                                <button data-toggle="modal" data-target="#sp{{ product.pk }}"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <!-- Modal -->
                                        <div class="modal fade" id="sp{{ product.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn có chắc chắn muốn xóa sản phẩm <b>{{ product.name }}</b> ra khỏi giỏ hàng không?
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="{% url 'cart:remove_cart' product.pk %}">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                {% csrf_token %}
                                <div class="coupon">
                                    <input type="text" name="coupon_code" placeholder="Mã giảm giá">
                                    <button type="submit" value="Mã giảm giá" name="btnCoupon">Sử dụng mã</button>
                                </div>
                            </form>
                        <p><i>(Nhập mã "THODIN" để được giảm giá 10% giá trị đơn hàng)</i></p>
                        </div>

                        <div class="col-md-12">
                            <form method="post">
                                {% csrf_token %}
                                <div class="cart-summary">
                                    <div class="cart-content">
                                        <h1>Tóm tắt đơn hàng</h1>
                                        <p>Tạm tính<span>{{ cart.get_total_price|floatformat:0|intcomma }}</span></p>
                                        <p>Giảm giá<span>{{ cart.get_discount|floatformat:0|intcomma }}</span></p>
                                        <p>Phí giao hàng<span>0đ</span></p>
                                        <h2>Tổng thành tiền<span>{{ cart.get_final_total_price|floatformat:0|intcomma }}</span></h2>
                                    </div>
                                    {% if request.session.cart|length < 1 %}
                                        <div class="cart-btn">
                                            <button type="submit" disabled name="btnUpdateCart" value="Cập nhật giỏ hàng">Cập nhật</button>
                                            <button type="button" disabled onclick="window.location.href='{% url 'cart:checkout' %}'">Mua hàng</button> 
                                        </div>
                                    {% else %}
                                        <div class="cart-btn">
                                            <button type="submit" name="btnUpdateCart" value="Cập nhật giỏ hàng">Cập nhật</button>
                                            <button type="button" onclick="window.location.href='{% url 'cart:checkout' %}'">Mua hàng</button> 
                                        </div>
                                    {% endif %}
                                </div>

                                {% for c in cart %}
                                    {% with product=c.product %}
                                        <input type="hidden" id="quantity_{{product.pk}}" name="quantity_{{product.pk}}" value="{{ c.quantity }}" />
                                        <script>
                                            $(document).ready(function(){
                                                $("#quantity{{ product.pk }}").change(function(){
                                                  let gia_tri = $("#quantity{{product.pk}}").val();
                                                  $("#quantity_{{product.pk}}").val(gia_tri);
                                                });
                                            });
                                            $(document).ready(function(){
                                                $("#btn-minus-{{product.pk}}").click(function(){
                                                  let gia_tri = $("#quantity{{product.pk}}").val();
                                                  $("#quantity_{{product.pk}}").val(gia_tri);
                                                });
                                            });
                                            $(document).ready(function(){
                                                $("#btn-plus-{{product.pk}}").click(function(){
                                                  let gia_tri = $("#quantity{{product.pk}}").val();
                                                  $("#quantity_{{product.pk}}").val(gia_tri);
                                                });
                                            });
                                        </script>
                                    {% endwith %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endblock %}

