{% extends 'store/_Master.html' %}
{% block title_page %}EStore | Liên hệ{% endblock %}
        
{% block main_content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang Chủ</a></li>
                <li class="breadcrumb-item active">Liên hệ</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Contact Start -->
    <div class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info">
                        <h2>Địa chỉ liên hệ</h2>
                        <h3><i class="fa fa-map-marker"></i>86 Trường Chinh, Phường 12, Quận Tân Bình, Thành phố Hồ Chí Minh</h3>
                        <h3><i class="fa fa-envelope"></i>thinh.phamtruong102@gmail.com</h3>
                        <h3><i class="fa fa-phone"></i>+84 906.970.070</h3>
                        <div class="social">
                            <a href="https://www.facebook.com/truong.thinh100294"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/in/thinhpham94/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/im.ptt/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/thinhpham94/"><i class="fab fa-facebook-messenger"></i></a>
                            <a href="live:truongthinh.it.dtm"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ result|safe }}
                            </div>
                            <div class="form-group">
                                {{ form.name }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.email }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                            <div>
                                <button type="submit" name="btnSendMessage" value="Gửi" class="btn contact_btn">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.199490672531!2d106.65094001411663!3d10.796027761785357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529360208eb7b%3A0xd14e8e6972256c7c!2zODYgVHLGsOG7nW5nIENoaW5oLCBQaMaw4budbmcgMTIsIFTDom4gQsOsbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1667309379057!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
        
{% endblock %}