{% extends 'store/_Master.html' %}
{% block title_page %}EStore | Trang Chủ{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="header-slider normal-slider" >
                    <div class="header-slider-item">
                        <img src="{% static 'store/sliders/slider-1.png' %}" class="img-fluid" alt="Slider Image 1" />
                        <!-- <div class="header-slider-caption">
                            <p>Some text goes here that describes the image</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                        </div> -->
                    </div>
                    <div class="header-slider-item">
                        <img src="{% static 'store/sliders/slider-2.png' %}" class="img-fluid" alt="Slider Image 2" />
                        <!-- <div class="header-slider-caption">
                            <p>Some text goes here that describes the image</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                        </div> -->
                    </div>
                    <div class="header-slider-item">
                        <img src="{% static 'store/sliders/slider-3.png' %}" class="img-fluid" alt="Slider Image 3" />
                        <!-- <div class="header-slider-caption">
                            <p>Some text goes here that describes the image</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="{% static 'store/images/dung-cu-nha-bep.png' %}" class="img-fluid" />
                        <a class="img-text" href="#do-dung-nha-bep">
                            <p style="font-size: 25px;">Đồ dùng nhà bếp</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="{% static 'store/images/thiet-bi-gia-dinh.png' %}" class="img-fluid"  />
                        <a class="img-text" href="#thiet-bi-gia-dinh">
                            <p style="font-size: 25px;">Thiết bị gia đình</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->      

<!-- Brand Start -->
{% include 'store/parts/brands.html' %}
<!-- Brand End -->      

<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Bảo mật thanh toán</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Giao hàng toàn quốc</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>Đổi trả trong 7 ngày</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>Tư vấn 24/7</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->      
     

<!-- Call to Action Start -->
<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Gọi cho chúng tôi</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0906970070">+84 906.970.070</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->       

<!-- Featured Product Start -->
<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header" id="do-dung-nha-bep">
            <h1>Đồ dùng nhà bếp</h1>
        </div>
        
        <div class="row align-items-center product-slider product-slider-4">
            {% for product in ddnb_products %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title" style="height:8em;">
                            <a href="{% url 'store:product' product.pk %}">{{ product.name }}</a>
                            <!-- <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> -->
                        </div>
                        <div class="product-image">
                            <a href="{% url 'store:product' product.pk %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            <!-- <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div> -->
                        </div>
                        <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                            {% csrf_token %}
                            <div class="product-price">
                                <h3 style="font-size: 20px;">{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                <input type="hidden" name="quantity" value="1">
                                <button class="btn" type="submit"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Featured Product End -->       

<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Đăng ký nhận thông tin</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" value="Nhập email...">
                    <button>Gửi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->        

<!-- Recent Product Start -->
<div class="recent-product product">
    <div class="container-fluid">
        <div class="section-header" id="thiet-bi-gia-dinh">
            <h1>Thiết bị gia đình</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            
            {% for product in tbgd_products %}
            <div class="col-lg-3">
                <div class="product-item">
                    <div class="product-title" style="height:8em;">
                        <a href="{% url 'store:product' product.pk %}">{{ product.name }}</a>
                        <!-- <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div> -->
                    </div>
                    <div class="product-image">
                        <a href="{% url 'store:product' product.pk %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        <!-- <div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div> -->
                    </div>
                    <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                        {% csrf_token %}
                        <div class="product-price">
                            <h3 style="font-size: 20px;">{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                            <input type="hidden" name="quantity" value="1">
                            <button class="btn" type="submit" ><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Recent Product End -->
<script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();
    
          // Store hash
          var hash = this.hash;
    
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
          });
        } // End if
      });
    });
</script>
{% endblock %}