{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %}

{% block title_page %}EStore | {{subcategory_name}} {% endblock %}

{% block main_content %}
        
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                <li class="breadcrumb-item active">{{ subcategory_name }}</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Product List Start -->
    <div class="product-view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="get">
                                <div class="product-view-top">
                                    <div class="row">

                                        <div class="col-md-7">
                                            <div>
                                                <h4>{{ subcategory_name }}</h4>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="product-short">
                                                <div class="form-group">
                                                    <input type="number" required="" pattern="[1-9][0-9]{4,}" name="from_price" step="10000" min="10000" class="form-control" value="{{ from_price }}" placeholder="Từ giá" style="border: 1px solid #353535; color: #353535;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="product-price-range">
                                                <div class="form-group">
                                                    <input type="number" required="" pattern="[1-9][0-9]{4,}" name="to_price" step="10000" min="100000" class="form-control" value="{{ to_price }}" placeholder="Đến giá" style="border: 1px solid #353535; color: #353535;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn">Lọc</button>
                                            <input type="hidden" name="keyword" value="{{ keyword }}">
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        {% for product in products %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title" style="height:8em;">
                                        <a href="{% url 'store:product' product.pk %}">{{ product.name }}</a>
                                        <!-- <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div> -->
                                    </div>
                                    <div class="product-image">
                                        <a href="{% url 'store:product' product.pk %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        <!-- <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div> -->
                                    </div>
                                    <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                        {% csrf_token %}
                                        <div class="product-price">
                                            <h3 style="font-size: 20px;">{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                            <input type="hidden" name="quantity" value="1">
                                            <button class="btn" type="submit" ><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                    
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">

                                <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                                    <a class="page-link" href="?page=1{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% if request.GET.to_price %}&from_pice={{ request.GET.from_price }}&to_price={{ request.GET.to_price }}{% endif %}{% endif %}" tabindex="-1">Đầu</a>
                                </li>
                                <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                                    <a class="page-link" href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% if request.GET.to_price %}&from_pice={{ request.GET.from_price }}&to_price={{ request.GET.to_price }}{% endif %}{% endif %}" tabindex="-1">Trước</a>
                                </li>
                    
                                {% if products.number|add:'-4' > 1 %}
                                    <li class="page-item disabled"><a class="page-link" href="?page={{ products.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}
                    
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="active page-item disabled"><a class="page-link" href="?page={{ i }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% if request.GET.to_price %}&from_pice={{ request.GET.from_price }}&to_price={{ request.GET.to_price }}{% endif %}{% endif %}">{{ i }}</a></li>
                                    {% elif i > products.number|add:'-5' and i < products.number|add:'5' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% if request.GET.to_price %}&from_pice={{ request.GET.from_price }}&to_price={{ request.GET.to_price }}{% endif %}{% endif %}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                    
                                {% if products.paginator.num_pages > products.number|add:'4' %}
                                    <li class="page-item disabled"><a class="page-link" href="?page={{ products.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}
                    
                                <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                                    <a class="page-link" href="{% if products.has_next %} ?page={{ products.next_page_number }} {% endif %}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% if request.GET.to_price %}&from_pice={{ request.GET.from_price }}&to_price={{ request.GET.to_price }}{% endif %}{% endif %}">Sau</a>
                                </li>
                                <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                                    <a class="page-link" href="{% if products.has_next %} ?page={{ products.paginator.num_pages }}{% endif %}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% if request.GET.to_price %}&from_pice={{ request.GET.from_price }}&to_price={{ request.GET.to_price }}{% endif %}{% endif %}">Cuối</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination Start -->
                </div>           
                
                <!-- Side Bar Start -->
                <div class="col-lg-3 sidebar">
                    <div class="sidebar-widget category">
                        <h2 class="title">Danh mục sản phẩm</h2>
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                {% for subcategory in list_subcategory %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'store:subcategory' subcategory.pk %}">
                                            <i class="fa fa-angle-double-right"></i>{{ subcategory.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="sidebar-widget widget-slider">
                        <div class="sidebar-slider normal-slider">
                            {% for product in sub_product %}
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{ product.name }}</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <div class="product-price">
                                        <h3 style="font-size: 20px;">{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--<div class="sidebar-widget brands">
                        <h2 class="title">Our Brands</h2>
                        <ul>
                            <li><a href="#">Nulla </a><span>(45)</span></li>
                            <li><a href="#">Curabitur </a><span>(34)</span></li>
                            <li><a href="#">Nunc </a><span>(67)</span></li>
                            <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                            <li><a href="#">Fusce </a><span>(89)</span></li>
                            <li><a href="#">Sagittis</a><span>(28)</span></li>
                        </ul>
                    </div>
                    
                    <div class="sidebar-widget tag">
                        <h2 class="title">Tags Cloud</h2>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Vivamus</a>
                        <a href="#">Phasellus</a>
                        <a href="#">pulvinar</a>
                        <a href="#">Curabitur</a>
                        <a href="#">Fusce</a>
                        <a href="#">Sem quis</a>
                        <a href="#">Mollis metus</a>
                        <a href="#">Sit amet</a>
                        <a href="#">Vel posuere</a>
                        <a href="#">orci luctus</a>
                        <a href="#">Nam lorem</a>
                    </div>-->
                </div>
                <!-- Side Bar End -->
            </div>
        </div>
    </div>
    <!-- Product List End -->  
    
    <!-- Brand Start -->
    {% include 'store/parts/brands.html' %}
    <!-- Brand End -->
        
{% endblock %}