{% load static %}

<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="{% static 'store/brands/lg.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'store/brands/panasonic.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'store/brands/philips.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'store/brands/samsung.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'store/brands/sharp.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'store/brands/sunhouse.png' %}" alt=""></div>
        </div>
    </div>
</div>